/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Meu código começa */

@font-face {
	font-family: customserif;
	src: url(../fonts/Playfair.ttf);
}

@font-face {
	font-family: customserifitalic;
	src: url(../fonts/Playfairitalic.ttf);
}

body{
	background-color: #191919;
	color: #D6D6D6;
	font-family: customserif;
}

h1{
	font-size: 43px;
	font-family: customserif;
	color: #d49e4d;
	display: block;
	margin: auto;
	text-shadow: 0px 1px 2px black;
}

h2{
	font-size: 28px;
	font-family: customserifitalic;
}

p{
	font-family: customserifitalic;
	font-size: 18px;
	color: #D6D6D6;
	margin: auto;
	margin-top: 20px;
	line-height: 1.5em;
	font-weight: 500;
	text-align: center;
	width: 300px;
	text-shadow: 0px 2px 0px black;
}

mark{
	background-color: rgb(212, 158, 77, 0.7);
	color: #D6D6D6;
}

#logotop{
	width: 280px;
	display: block;
	margin: auto;
	box-shadow: 3px 6px 2px 0px black;
	border-bottom: 1px solid #D6D6D6;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

.logoheader{
	width: 100%;
	min-height: 620px;
	background: url(../images/utensílios.jpg);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	padding-top: 40px;
}

#ouarraste{
	width: 280px;
}

ul{
	margin: auto;
	text-align: center;
	font-size: 18px;
	line-height: 1.7em;
	display: block;
	width: 280px;
	background-color: #191919;
	box-shadow: 3px 6px 2px 0px black;
}

li{
	padding: 7px;
	border-bottom: 1px solid #D6D6D6;
}

li:hover{
	color: #D6D6D6;
	background-color: #D49E4D;
}

li:active{
	color: #D6D6D6;
	background-color: #191919;
}

a{
	color: #D6D6D6;
	text-decoration: none;
}

#sobre{
	width: 100%;
	height: 440px;
	background-image: url(../images/barbeariabgopacity.jpg);
	background-repeat: no-repeat;
	background-color: #191919;
	background-position: 50% 80%;
	background-size: cover;
	text-align: center;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}

#linha {
	width: 60%;
	height: 1.5px;
	background-color: #d49e4d;
	display: inline-block;
	box-shadow: 0px 1px 2px black;
}

#acreditamos{
	font-size: 20px;
}

#cortes{
	text-align: center;
}

#cortestexto {
	margin-bottom: 10px;
}

#corte1 {
	width: 90%;
	height: 300px;
	display: inline-block;
	margin-top: 20px;
	background-image: url(../images/cortes/corte1.jpg);
	background-position: 0% 30%;
	background-size: cover;
	background-repeat: no-repeat;
	border-radius: 10px;
	box-shadow: 0px 2px 0px black;
}

#corte2 {
	width: 90%;
	height: 300px;
	display: inline-block;
	margin-top: 20px;
	background-image: url(../images/cortes/corte2.jpg);
	background-position: 0% 10%;
	background-size: cover;
	background-repeat: no-repeat;
	border-radius: 10px;
	box-shadow: 0px 2px 0px black;
}

#corte3 {
	width: 90%;
	height: 300px;
	display: inline-block;
	margin-top: 20px;
	background-image: url(../images/cortes/corte3.jpg);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	border-radius: 10px;
	box-shadow: 0px 2px 0px black;
}

#corte4 {
	width: 90%;
	height: 300px;
	display: inline-block;
	margin-top: 20px;
	background-image: url(../images/cortes/corte4.jpg);
	background-position: 50% 40%;
	background-size: cover;
	background-repeat: no-repeat;
	border-radius: 10px;
	box-shadow: 0px 2px 0px black;
}

#barbeiros{
	text-align: center;
}

#barbeirostexto{
	margin-bottom: 10px;
}

.nomebarber{
	text-align: left;
	font-size: 40px;
	position: relative;
	top: 235px;
	right: -15px;
	font-family: Helvetica;
	font-weight: 700;
	text-transform: uppercase;
	text-shadow: 0px 1px 2px black;
}

.barberlink{
	width: 65px;
	margin-left:5px;
	margin-top: 27px;
}

.retanguloredes{
	width: 70px;
	height: 300px;
	background-color: rgba(214, 214, 214, 0.3);
	position: absolute;
	right: 0px;
	bottom: 0px;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
}

#barber1 {
	width: 90%;
	margin-top: 20px;
	height: 300px;
	display: inline-block;
	background-image: url(../images/barbeiros/barber1.jpg);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
	border-radius: 10px;
	box-shadow: 0px 2px 0px black;
}

#barber2 {
	width: 90%;
	margin-top: 20px;
	height: 300px;
	display: inline-block;
	background-image: url(../images/barbeiros/barber2.jpg);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;	
	border-radius: 10px;
	box-shadow: 0px 2px 0px black;
}

#barber3 {
	width: 90%;
	margin-top: 20px;
	height: 300px;
	display: inline-block;
	background-image: url(../images/barbeiros/barber3.jpg);
	background-position: 0% 30%;
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
	border-radius: 10px;
	box-shadow: 0px 2px 0px black;
}

#barber4 {
	width: 90%;
	margin-top: 20px;
	height: 300px;
	display: inline-block;
	background-image: url(../images/barbeiros/barber4.jpg);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
	border-radius: 10px;
	box-shadow: 0px 2px 0px black;
}

footer{
	padding-top: 35px;
}

#contato {
	max-width: 469px;
	width: 100vw;
	text-align: center;
	margin: auto;
}

#endereço{
	text-align: center;
}

iframe{
	width: 90%;
	height: 280px;
	border-radius: 10px;
}

/* PHONES 349 */
@media screen and (max-width: 349px){

	p{

		width: 240px;
	}

	#logotop{
		width: 260px;

	}

	#ouarraste{
		width: 260px;
	}
	
	ul{
		width: 260px;
	}

	.nomebarber {
		font-size: 28px;
		top: 245px;
	}

}

	/* TABLETS ACIMA DE 469PX*/
@media screen and (min-width: 469px){

	p{
		font-size: 16px;
		width: 90%;
	}
	
	ul{
		font-size: 20px;
	}
	
	#acreditamos{
		font-size: 22px;
		width: 300px;
	}

	#cortes{
		text-align: center;
		height: 870px;
	}

	#cortestexto {
		width: 300px;
		margin-bottom: 10px;
	}
	
	#corte1, #corte2 {
		float: left;
		width: 45%;
		margin-left: 3.5%;
	}
	
	#corte3, #corte4 {
		float: left;
		width: 45%;
		margin-left: 3.5%;
	}
	
	#barbeiros{
		text-align: center;
		height: 900px;
		margin-top: 0px;
	}

	#barbeirostexto{
		width: 300px;
		margin-bottom: 10px;
	}
	
	.nomebarber{
		font-size: 26px;
		top: 255px;
		right: -10px;
	}

	#barber1, #barber2 {
		float: left;
		width: 45%;
		margin-left: 3.5%;
	}
	
	#barber3, #barber4 {
		float: left;
		width: 45%;
		margin-left: 3.5%;
	}

	#contato {
		max-width: 622px;
		width: 100vw;
		text-align: center;
		margin: auto;
	}

	.contato1 {
		float: left;
		width: 45vw;
		text-align: center;
		margin-left: 0;
	}

	.contato2 {
		float: left;
		width: 45vw;
		text-align: center;
		margin-left: 0;
	}
	
	#endereço{
		padding-top: 175px;
	}

	footer{
		padding-top: 30px;
	}

	iframe{
		height: 300px;
		width: 400px;
	}
	
	}

	/*TABLETS ACIMA DE 622px*/
@media screen and (min-width: 622px){

	p{
		font-size: 20px;
	}

	ul{
		font-size: 20px;
	}
		
	#acreditamos{
		font-size: 22px;
		width: 400px;
	}
	
	#cortes{
		text-align: center;
		height: 870px;
		padding-top: 20px;
	}

	#cortestexto {
		width: 400px;
		margin-bottom: 10px;
	}
	
	#corte1, #corte2 {
		float: left;
		width: 45%;
		margin-left: 3.5%;
	}
	
	#corte3, #corte4 {
		float: left;
		width: 45%;
		margin-left: 3.5%;
	}
		
	.nomebarber{
		font-size: 34px;

	}
	
	#barbeiros{
		text-align: center;
		height: 850px;
	}
	
	#barbeirostexto{
		width: 400px;
		margin-bottom: 10px;
	}

	#barber1, #barber2 {
		float: left;
		width: 45%;
		margin-left: 3.5%;
	}
	
	#barber3, #barber4 {
		float: left;
		width: 45%;
		margin-left: 3.5%;
	}
	
	.contato1, .contato2 {
		float: left;
		width: 45%;
		margin-left: 3.5%;
	}

	#endereço{
		padding-top: 175px;
	}

	#contato {
		max-width: 998px;
		width: 100vw;
		text-align: center;
		margin: auto;
	}

	footer{
		padding-top: 80px;
	}

	iframe{
		height: 350px;
		width: 550px;
	}
	
	}

@media screen and (min-width: 999px){
		
	h1 {
		font-size: 62px;
	}

	h2 {
		font-size: 57px;
	}

	p{
		font-family: customserifitalic;
		font-size: 22px;
		color: #D6D6D6;
		margin: auto;
		margin-top: 20px;
		line-height: 1.5em;
		font-weight: 500;
		text-align: center;
		width: 300px;
		text-shadow: 0px 2px 0px black;
	}
	
	ul{
		font-size: 22px;
	}
	
	#sobre{
		height: 660px;
	}
	
	#bemvindoabarbeariah1 {
		font-size: 92px;
	}
	
	#acreditamos{
		font-size: 26px;
		width: 350px;
	}
	
	#cortes{
		text-align: center;
		height: 580px;
	}

	#cortestexto {
		width: 600px;
		margin-bottom: 10px;
	}
			
	#corte1, #corte2, #corte3, #corte4 {
		float: left;
		width: 20%;
		margin-left: 4%;
	}

	#barbeiros{
		text-align: center;
		height: 630px;
	}

	#barbeirostexto{
		width: 600px;
		margin-bottom: 10px;
	}
	
	.nomebarber{
		text-align: left;
		font-size: 25px;
		position: relative;
		top: 265px;
		right: -15px;
		font-family: Helvetica;
		font-weight: 700;
		text-transform: uppercase;
		text-shadow: 0px 1px 2px black;
	}
	
	#barber1, #barber2, #barber3, #barber4 {
		float: left;
		width: 20%;
		margin-left: 4%;
	}
	
	footer{
		padding-top: 0;
	}

	.contato1, .contato2 {
		padding-top: 20px;
		float: left;
		width: 45%;
		margin-left: 3.5%;
	}

	#endereço{
		padding-top: 240px;
	}

	iframe{
		height: 500px;
		width: 800px;
	}

	}

/* DESKTOPS 1919*/

@media screen and (min-width: 1919px){
	
	h1 {
		font-size: 62px;
	}
		
	h2 {
		font-size: 57px;
	}

	p{
		font-family: customserifitalic;
		font-size: 22px;
		color: #D6D6D6;
		margin: auto;
		margin-top: 20px;
		line-height: 1.5em;
		font-weight: 500;
		text-align: center;
		width: 300px;
		text-shadow: 0px 2px 0px black;
	}

	ul{
		font-size: 22px;
	}
	
	#sobre{
		height: 660px;
	}

	#bemvindoabarbeariah1 {
		font-size: 92px;
	}
	
	#acreditamos{
		font-size: 26px;
		width: 350px;
	}
		
	#cortes{
		text-align: center;
		height: 630px;
	}

	#cortestexto {
		width: 600px;
		margin-bottom: 10px;
	}
	
	#fotoscortes{
		display: flex;
		justify-content: center;
	}

	#corte1, #corte2, #corte3, #corte4 {
		float: left;
		width: 300px;
		margin-right: 2%;
		margin-left: 2%;
	}

	#barbeiros{
		text-align: center;
		height: 630px;
	}

	#barbeirostexto{
		width: 600px;
		margin-bottom: 10px;
	}

	.nomebarber{
		text-align: left;
		font-size: 25px;
		position: relative;
		top: 265px;
		right: -15px;
		font-family: Helvetica;
		font-weight: 700;
		text-transform: uppercase;
		text-shadow: 0px 1px 2px black;
	}

	#fotosbarbers{
		display: flex;
		justify-content: center;
	}
	
	#barber1, #barber2, #barber3, #barber4 {
		float: left;
		width: 300px;
		margin-right: 2%;
		margin-left: 2%;
	}
	
	footer{
		padding-top: 15px;
	}

	.contato1, .contato2 {
		padding-top: 20px;
		float: left;
		width: 45%;
		margin-left: 3.5%;
	}
	
	#endereço{
		padding-top: 240px;
	}
	
	iframe{
		height: 500px;
		width: 800px;
	}

	}